body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #052e16;
  font-family: Arial;
  color: white;
}

.card {
  background: #064e3b;
  padding: 40px;
  border-radius: 16px;
  width: 340px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;

  background: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.hidden {
  display: none;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.icons img {
  height: 20px;
  width: auto;
  background: white;
  padding: 4px;
  border-radius: 6px;
}
